<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.testvk">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".common.TestApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.vk.sdk.VKServiceActivity"
            android:label="ServiceActivity"
            android:theme="@style/VK.Transparent" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FriendsActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/title_friends_list">

        </activity>
        <activity
            android:name=".FriendsDetailActivity"
            android:label="@string/title_friends_detail"
            android:parentActivityName=".FriendsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.admin.testvk.FriendsActivity" />
        </activity>
    </application>

</manifest>